<div>
    <nav class="navbar navbar-expand navbar-dark bg-success">
      <a href="#" class="navbar-brand bg-success">CV Maker</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="Login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="Registro" class="nav-link">Registro</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <h2>{{ title }}</h2>
      <router-outlet></router-outlet>
    </div>
  </div>